.custom-add-to-cart-btn {
    background-color: #C73B0F;;
    color: #fff; 
    border-radius: 30px; 
    border: none;
    padding: 8px 20px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 336px;
    height: 53px;
 
  }
  
  